<!DOCTYPE html>
<html>
<head>
  <title>MarketStats</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
<%= javascript_include_tag "processing-1.3.6" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
